// Place all the styles related to the Projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.index-table {
  width: 80%;
  margin: 0 auto;
  text-align: center;
}

.index-table table {
  align: center;
  width: 100%;
}
